<mat-progress-bar mode="indeterminate" *ngIf="isLoading"></mat-progress-bar>
<div>
  <div class="global-container">
    <div class="container-left">
      <div>
        <h1>Leasing Financiero App</h1>
        <p>Este proyecto es una calculadora de cronograma de pagos,  en lo que respecta al leasing finanaciero por el metodo alemán.</p>
      </div>
    </div>
    <div class="container-right">
      <mat-card class="container-right-card">
        <form [formGroup]="userFormGroup">
          <mat-form-field appearance="fill" style="width: 90%; margin-top: 10px;">
            <mat-label>Username</mat-label>
            <input matInput autocomplete="off" formControlName="username">
            <mat-error *ngIf="userFormGroup.get('username')?.hasError('required')">
              Username is <strong>required</strong>
            </mat-error>
          </mat-form-field>
          <mat-form-field appearance="fill" style="width: 90%;">
            <mat-label>Password</mat-label>
            <input matInput autocomplete="off" type="password" formControlName="password">
            <mat-error *ngIf="userFormGroup.get('password')?.hasError('required')">
              Password is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </form>
        <button mat-raised-button color="primary" style="width: 90%; height: 50px;" (click)="login()">Login</button>
        <div class="line"></div>
        <p>Don't have an account? <button mat-button color="accent" [routerLink]="'/register'">Sign up</button></p>
      </mat-card>
    </div>
  </div>
</div>
