<mat-toolbar color="primary">
  <h2>App</h2>
  <div class="mat-spacer"></div>
  <!-- App Options -->
  <a mat-button [routerLink]="'/home_calculator'">Home</a>
  <a mat-button [routerLink]="'/registros'">Registros</a>
</mat-toolbar>

<div class="main-div">
  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>Registros Guardados</mat-card-title>
      <mat-card-subtitle>Leasing Financiero</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <mat-list>
        <mat-list-item *ngFor="let folder of folders">
          <button mat-button class="botones_contenedor">
            <div id="contenedor">
              <div matListItemTitle>{{folder.name}}</div>
              <div matListItemLine>{{folder.updated | date}}</div>
            </div>
          </button>
        </mat-list-item>
      </mat-list>
    </mat-card-content>
  </mat-card>
</div>
