<div class="main-div">
<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title>Calculadora</mat-card-title>
    <mat-card-subtitle>Leasing Financiero</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p class="description">
      Por favor complete los siguientes campos para poder calcular el cronograma de pagos referencial.
    </p>
    <div class="card-body">
      <form [formGroup]="calculateFormGroup">

        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Precio Venta del Activo</mat-label>
          <input formControlName="precioVentaActivo" type="number" matInput placeholder="Ex. 118000" >
        </mat-form-field>

        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Numero de años</mat-label>
          <input formControlName="nAnios" type="number" matInput placeholder="Ex. 3" >
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Escoge una fecha</mat-label>
          <input formControlName="dateStart" matInput [matDatepicker]="picker">
          <mat-datepicker-toggle matSuffix [for]="picker">
            <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
          </mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>

          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Frecuencia de pago</mat-label>
            <mat-select formControlName="frecuenciaPago" name="frecuenciaPago">
              <mat-option *ngFor="let frecuencia of frecuencias" [value]="frecuencia.value">
                {{frecuencia.viewValue}}
              </mat-option>
            </mat-select>
          </mat-form-field>

        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>N dias por año</mat-label>
          <mat-select formControlName="diasAnnio" name="diasAnnio">
            <mat-option *ngFor="let DiasAnio of diasAnios" [value]="DiasAnio.value">
              {{DiasAnio.viewValue}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Tasa Efectiva Anual(%)</mat-label>
          <input formControlName="tea" type="number" matInput placeholder="Ex. 12" >
        </mat-form-field>

        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>IGV(%)</mat-label>
          <input formControlName="igv" type="number" matInput placeholder="Ex. 18" >
        </mat-form-field>

        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Impuesto a la renta(%)</mat-label>
          <input formControlName="impuestoRenta" type="number" matInput placeholder="Ex. 20" >
        </mat-form-field>
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Recompra(%)</mat-label>
          <input formControlName="recompra" type="number" matInput placeholder="Ex. 3" >
        </mat-form-field>

        <p class="description">Costes Iniciales</p>

        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Costes Notariales</mat-label>
          <input formControlName="costesNotariales" type="number" matInput placeholder="Ex. 200" >
        </mat-form-field>

        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Costes Registrales</mat-label>
          <input formControlName="costesRegistrales" type="number" matInput placeholder="Ex. 200" >
        </mat-form-field>

        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Tasación</mat-label>
          <input formControlName="tasacion" type="number" matInput placeholder="Ex. 200" >
        </mat-form-field>

        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Comisión de estudio</mat-label>
          <input formControlName="comisionEstudio" type="number" matInput placeholder="Ex. 200" >
        </mat-form-field>

        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Comisión de activacion</mat-label>
          <input formControlName="comisionActivacion" type="number" matInput placeholder="Ex. 200" >
        </mat-form-field>

        <p class="description">Gastos Periodicos</p>

        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Comisión periodica</mat-label>
          <input formControlName="comisionPeriodica" type="number" matInput placeholder="Ex. 20" >
        </mat-form-field>

        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Seguro de riesgo(%)</mat-label>
          <input formControlName="seguroRiesgo" type="number" matInput placeholder="Ex. 0.3" >
        </mat-form-field>

        <p class="description">Costo de oportunidad</p>

        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Tasa de descuento Ks(%)</mat-label>
          <input formControlName="tasaDescuentoKs" type="number" matInput placeholder="Ex. 17.5" >
        </mat-form-field>

        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Tasa de descuento WACC(%)</mat-label>
          <input formControlName="tasaDescuentoWacc" type="number" matInput placeholder="Ex. 10" >
        </mat-form-field>

      </form>

    </div>
  </mat-card-content>
  <mat-card-actions class="button-final">
    <button mat-button href="" (click)="calculate()">CALCULATE</button>
  </mat-card-actions>
</mat-card>
</div>
