<mat-progress-bar mode="indeterminate" *ngIf="isLoading"></mat-progress-bar>
<div>
  <div class="container-register">
    <mat-card class="container-register-card">
      <form [formGroup]="userFormGroup">
        <div style="margin-top: 5px;"></div>
        <mat-form-field appearance="fill">
          <mat-label>Names</mat-label>
          <input matInput autocomplete="off" formControlName="names">
          <mat-error *ngIf="userFormGroup.get('names')?.hasError('required')">
            Names is <strong>required</strong>
          </mat-error>
          <mat-error *ngIf="userFormGroup.get('names')?.hasError('minlength')">
            Names must be at least <strong>6</strong> characters long
          </mat-error>
          <mat-error *ngIf="userFormGroup.get('names')?.hasError('maxlength')">
            Names must be at most <strong>50</strong> characters long
          </mat-error>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Username</mat-label>
          <input matInput autocomplete="off" formControlName="username">
          <mat-error *ngIf="userFormGroup.get('username')?.hasError('required')">
            Username is <strong>required</strong>
          </mat-error>
          <mat-error *ngIf="userFormGroup.get('username')?.hasError('minlength')">
            Username must be at least <strong>2</strong> characters long
          </mat-error>
          <mat-error *ngIf="userFormGroup.get('username')?.hasError('maxlength')">
            Username must be at most <strong>10</strong> characters long
          </mat-error>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Password</mat-label>
          <input matInput autocomplete="off" type="password" formControlName="password">
          <mat-error *ngIf="userFormGroup.get('password')?.hasError('required')">
            Password is <strong>required</strong>
          </mat-error>
          <mat-error *ngIf="userFormGroup.get('password')?.hasError('minlength')">
            Password must be at least <strong>6</strong> characters long
          </mat-error>
          <mat-error *ngIf="userFormGroup.get('password')?.hasError('maxlength')">
            Password must be at most <strong>50</strong> characters long
          </mat-error>
        </mat-form-field>
      </form>
      <div></div>
      <div style="margin-top: 5px;"></div>
      <button mat-raised-button color="primary" style="width: 90%; height: 50px;" (click)="register()">Register</button>
      <div class="line"></div>
      Have an account?
      <button mat-button color="primary" style="margin-top: 10px;" [routerLink]="''">Go to Login</button>
    </mat-card>
  </div>
</div>
